@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-heartbeat {
    animation: heartbeat 1.5s ease-in-out infinite;
  }
}

body {
  background-color: #fff0f3;
  cursor:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❤️</text></svg>")
      16 0,
    auto; /* subtle love cursor */
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #fff0f3;
}
::-webkit-scrollbar-thumb {
  background: #ffb7b2;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #e63946;
}
